 .navbar-nav {
      flex-direction: row;
    }
    
.bg-trans {
    background-color: rgba(255,255,255,.5)!important;
}
  
#particles-js{
  width: 65%;
  height: 10%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}


