 body{
background-color: #dde4eb;
 }



.fefefe {

background-color:#fefefe!important

}

.bg-black {
    background-color: #0C3CE8!important;
}

#inicio{

background-color: #ffff;

}
#contacto{

/*border-top-left-radius: 30px !important; border-top-right-radius: 30px !important;
 border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important;*/
 }
#stack {
border-top-left-radius: 30px !important; border-top-right-radius: 30px !important;
 border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important;
}


#suscribirse{
border-top-left-radius: 30px !important; border-top-right-radius: 30px !important;
 border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important;
}

#servicios{
border-top-left-radius: 30px !important; border-top-right-radius: 30px !important;
 border-bottom-left-radius: 30px !important; border-bottom-right-radius: 30px !important;
  
 }


.btn-suscribirse{
  border-top-right-radius: 30px !important;   border-bottom-right-radius: 30px !important; 
  background-color:  #00a82d;
}


.input-suscribirse{
  border-top-left-radius: 30px !important;   border-bottom-left-radius: 30px !important; 
}

.notificacion{

color: #F59800

}

footer{

font-size: 13px;

 }




 .btn-redondeado{

    border-radius: 30px 30px 30px 30px !important;
 }
#head-particulas {

background-color: #1B4752;

}
   .whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000!important;
} 

