<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jose Castillo programador web freelance</title>
  <meta charset="utf-8">

  <meta name="description" content="Jose Castillo programador web freelance">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript, programacion, programador">
  <meta name="author" content="Jose Castillo">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
   <link  href="css/style.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


<script src="js/particles.js"></script>
<script src="js/app.js"></script>


<div  style="position: absolute ; height:100%;   width: 100%; z-index: 0" id="particles-js"></div>
<div    class="jumbotron text-center  " style=" height: 280px; background-color: #54a4ff;  padding-top: none; margin-bottom: 0;max-height: auto ">
  <h1 class="mt-4 pt-4 text-white">JOSÉ CASTILLO DESARROLLADOR WEB<br></h1>



  <p>Automatiza tus procesos, mejora tu imagen y hazte mas productivo</p> 

</div> 
<nav class="navbar navbar-expand-sm  navbar-dark bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav text-center mx-auto  mt-1 mb-1">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#"> <strong>Inicio</strong>  </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Servicios</strong> </a>
      </li>
   <a class="navbar-brand ml-3" href="#">  <img width="140" src="/img/logo.png">    </a>
      <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Sobre mi</strong></a>
      </li>
    <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Contacto</strong></a>
      </li>
    </ul>
  </div>  
</nav>


</head>
<body>


   


<section id="servicios">

<div  class="container  mt-5 pt-3">
<div class="row">
<div class="col-sm-6">
<h1 class="text-center">Servicios</h1>


<p class="text-justify">
Soy un desarrollador apasionado por crear herramientas digitales, que faciliten la vida de las personas en su día a día, graduado de ingeniería de sistemas, con más de 4 años en el mundo del desarrollo y diseño web, me dedico intensamente a desarrollar herramientas de software que hagan más eficientes los procesos de medianas y pequeñas empresas. 
</p>


<p class="text-justify">
Donde mediante un análisis directo de los procesos, defino las necesidades y requerimientos de la empresa en conjunto con las personas directamente involucradas en la dirección y ejecución de cada tarea, pudiendo asi planificar, diseñar y dar pie al desarrollo de una herramienta a la medida que cubra las necesidades y objetivos marcados.
</p>
<p class="text-justify">
¿Qué puedo hacer por ti? Puedo materializar tus ideas de una forma integral, desde el análisis, definición de los requerimientos, planificación, prototipado, desarrollo y  puesta en marcha del nuevo sistema, mi especialidad las aplicaciones web, este tipo de sistemas se ejecutan a través de los navegadores web, como Google chrome, Mozilla Firefox y otros.  De esta manera podras ingresar desde  cualquier computador, tablet o celular inteligente mediante tu usuario y contraseña, y así consultar datos como usar todas sus funciones . 
</p>

<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>


<p class="text-justify">
<strong> ¿Mi secreto?</strong> Amo lo que hago, me divierte, me moviliza al crecimiento,  y a la investigación por un mundo que cambia continuamente.  
</p>


<p class="text-justify">

<strong>¿Donde me ubico?</strong>  En la hermosa ciudad de Cordoba, Argentina.
Mis editores de codigo : Visual estudio code, Sublime text
Back-end :  Php, laravel, Composer
Front-end: Html, css, javascritp, jquery, vuejs, npm

</p>








  </div>
  <div class="col-sm-6">
<h1 class="text-center">Mi stack</h1>








  </div>

</div>
</div>

</section>












<section  id="sobre-mi">

<div class="container mt-5 pt-3">
<div class="row">
<div class="col-sm-6">
<h1 class="text-center">Sobre mi</h1>


<div class="text-center mb-5 mt-5">
<img alt="JOSE CASTILLO PROGRAMADOR" class="rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQEdGpTIAgoNiQ/profile-displayphoto-shrink_200_200/0?e=1568246400&v=beta&t=UWA7fUfyBVEPpETPqmeLfHz7PH2kdzExy9Pr-o-R19Q">
</div>


<p>
  <strong>
  Ubicacion:</strong> Cordoba, provincia de cordoba Argentina

</p>


<p class="text-justify">
<strong>
Soy un desarrollador apasionado</strong> por crear herramientas digitales, que faciliten la vida de las personas en su día a día, graduado de ingeniería de sistemas, con más de 4 años en el mundo del desarrollo y diseño web, me dedico intensamente a desarrollar herramientas de software que hagan más eficientes los procesos de medianas y pequeñas empresas. 
</p>


<p class="text-justify">
Donde mediante un análisis directo de los procesos, defino las necesidades y requerimientos de la empresa en conjunto con las personas directamente involucradas en la dirección y ejecución de cada tarea, pudiendo asi planificar, diseñar y dar pie al desarrollo de una herramienta a la medida que cubra las necesidades y objetivos marcados.
</p>
<p class="text-justify">
<strong> ¿Qué puedo hacer por ti?</strong> Puedo materializar tus ideas de una forma integral, desde el análisis, definición de los requerimientos, planificación, prototipado, desarrollo y  puesta en marcha del nuevo sistema, mi especialidad las aplicaciones web, este tipo de sistemas se ejecutan a través de los navegadores web, como Google chrome, Mozilla Firefox y otros.  De esta manera podras ingresar desde  cualquier computador, tablet o celular inteligente mediante tu usuario y contraseña, y así consultar datos como usar todas sus funciones . 
</p>

<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>


<p class="text-justify">
<strong> ¿Mi secreto?</strong> Amo lo que hago, me divierte, me moviliza al crecimiento,  y a la investigación por un mundo que cambia continuamente.  
</p>










  </div>
  <div class="col-sm-6">
<h1 class="text-center">Experiencia</h1>


<ul>
<li><h2>
<strong>  
Desarrollador de front-end
Archelier Studio</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>

<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>

<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>

<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>

<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>

<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>


<li><h2>
<strong>  
Desarrollador full stack
Estudio mirolo</strong> </h2>
<p class="text-justify">Desarrollar varios Script para la creacion de muros para el programa 3D 3DMAX, Script para levantar muros, para colocar manillas y para colocar ventanas.</p>
</li>





</ul>

  </div>

</div>
</div>

</section>





<section id="contacto">

<div  class="container  mt-5 pt-3">
<div class="row">
<div class="col-sm-6">
<h1 class="text-center">Contacto</h1>




<div class="container">
  

 <form @submit.prevent="enviar()" >
    <div class="form-group">
      <label >Nombre</label>
      <input  required="" type="text" class="form-control input form-control-lg"   v-model="nombre">
    </div>

    <div class="form-group">
      <label >Apellido</label>
      <input  required="" type="text" class="form-control input form-control-lg"   v-model="Apellido">
    </div>


    <div  class="form-group">
      <label >Correo electronico</label>
      <input required="" type="email" class="form-control input form-control-lg"  v-model="email">
    </div>

    <div class="form-group">
      <label >Numero celular</label>
      <input required="" type="phone" class="form-control input form-control-lg"   v-model="numero_celular">
    </div>


    <div class="form-group">
      <label >Ciudad</label>
      <input required="" type="text" class="form-control input form-control-lg"   v-model="ciudad">
    </div>


    <div class="form-group">
      <label >Pais</label>
      <input required="" type="text" class="form-control input form-control-lg"   v-model="provincia">
    </div>

   <div class="form-group">
      <label >Mensaje</label>
      <textarea rows="5" class="form-control"></textarea>
    </div>




<div id="contenedor" class=" col-xs-2">
    <button type="submit" class="btn btn-dark  btn-lg float-rigth">

<div v-show="loader==1" class="spinner-border spinner-border-sm" role="status">
<span  class="sr-only">Loading...</span>
</div>   
Enviar formulario</button>
</div>




  </form>
    </div>









  </div>
  <div class="col-sm-6">
<h1 class="text-center">Redes sociales</h1>




  </div>

</div>
</div>

</section>


















</body>
</html>
