<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jose Castillo programador web freelance</title>
  <meta charset="utf-8">

  <meta name="description" content="Jose Castillo programador web freelance">
  <meta name="keywords" content=",jJOSE CASTILLO, JOSE CASTILLO PROGRAMADOR, programacion, programador">
  <meta name="author" content="Jose Castillo">

  <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.css">



 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


<script src="js/particles.js"></script>
<script src="js/app.js"></script>


<nav class="navbar navbar-expand-sm  navbar-light bg-light sticky-top">



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav text-center mx-auto  ">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#"> <strong>Inicio</strong>  </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Servicios</strong> </a>
      </li>
   <a class="navbar-brand ml-3" href="#">  <img width="120" src="/img/logo.png">    </a>
      <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Sobre mi</strong></a>
      </li>
    <li class="nav-item ">
        <a class="nav-link text-dark" href="#"><strong>Contacto</strong></a>
      </li>
    </ul>
  </div>  
</nav>





<div  style="position: absolute ; height: 280px;   width: 100%; z-index: 0" id="particles-js"></div>
<div    class="jumbotron text-center  " id="head"  style=" height: 280px; padding-top: none; margin-bottom: 0;max-height: auto ">
  <h1 class="mt-4 pt-4 text-white">JOSÉ CASTILLO DESARROLLADOR WEB<br></h1>



  <p class="text-white">
<strong>
  Automatiza tus procesos, mejora tu imagen y hazte mas productivo
</strong>
</p> 

</div> 




</head>
<body class="">

<div class="container mt-5 ">

<div class="col-sm-12">
<form class="row">
<div class="col-sm-5">
     <p ><h4 class="text-primary"> Suscribete para saber de mis ofertas</h4></p>

</div>

<div class="col-sm-7">  
<div class="input-group mb-top pt-3 mb-3">
  <input type="text" class="form-control input-suscribirse" placeholder="Ingresa tu email, y mantente informado de las ultimas ofertas"  aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button  class="btn btn-success btn-suscribirse" type="button"><i class="fas fa-heart"></i></button>
  </div>
</div>


    </div>

  </form>
</div>
</div>








<div class="whatsapp  " style="position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000!important;">
<a href="https://api.whatsapp.com/send?phone=543512777216&amp;text=Hola José, te contacto desde tu pagina web!" target="_blank">
<img width="60" src="img/whatsapp.svg" data-toggle="tooltip" data-placement="top" alt="Chateá con Nosotros">
</a>
</div>














<section class="bg-white" id="Inicio" >


<div class="container  mt-5 ">
<div class="col-sm-12">

<p class="text-justify">
 <strong> Hola! mi nombre es José Castillo</strong> Soy ingeniero de sistemas y programador web FreeLance. Me dedico a construir aplicaciones web, con el objetivo de mejorar la eficiencia y gestión de pequeñas y medianas empresas.

Estas aplicaciones web son el tipo de sistemas que se ejecutan a través del navegador web, como por ejemplo google chrome o Mozilla Firefox, lo cual te dará una herramienta que podrás usar desde tu computador o teléfono móvil a donde quieras que vayas.

</p>

<p class="text-justify">
Soy un desarrollador apasionado por crear herramientas digitales, que faciliten la vida de las personas en su día a día, graduado de ingeniería de sistemas, con más de 4 años en el mundo del desarrollo y diseño web, me dedico intensamente a desarrollar herramientas de software que hagan más eficientes los procesos de medianas y pequeñas empresas. 
</p>


<p class="text-justify">
Donde mediante un análisis directo de los procesos, defino las necesidades y requerimientos de la empresa en conjunto con las personas directamente involucradas en la dirección y ejecución de cada tarea, pudiendo asi planificar, diseñar y dar pie al desarrollo de una herramienta a la medida que cubra las necesidades y objetivos marcados.
</p>
<p class="text-justify">
¿Qué puedo hacer por ti? Puedo materializar tus ideas de una forma integral, desde el análisis, definición de los requerimientos, planificación, prototipado, desarrollo y  puesta en marcha del nuevo sistema, mi especialidad las aplicaciones web, este tipo de sistemas se ejecutan a través de los navegadores web, como Google chrome, Mozilla Firefox y otros.  De esta manera podras ingresar desde  cualquier computador, tablet o celular inteligente mediante tu usuario y contraseña, y así consultar datos como usar todas sus funciones . 
</p>

<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>


<p class="text-justify">
<strong> ¿Mi secreto?</strong> Amo lo que hago, me divierte, me moviliza al crecimiento,  y a la investigación por un mundo que cambia continuamente.  
</p>


<p class="text-justify">

<strong>¿Donde me ubico?</strong>  En la hermosa ciudad de Cordoba, Argentina.
Mis editores de codigo : Visual estudio code, Sublime text
Back-end :  Php, laravel, Composer
Front-end: Html, css, javascritp, jquery, vuejs, npm

</p>


</div>






</div>






</section>




   


<section id="servicios">

<div  class="container  mt-5 pt-3">
<div class="">
<div class="col-sm-12">
<h1 class="text-center text-primary">Servicios</h1>


<div class="container">
  
<div class="row">
  
<div class="col-sm-4">


<p class="text-center mt-5 pb-5">
<img class="img-thumbnail rounded-circle" width="130" src="https://image.flaticon.com/icons/svg/1055/1055687.svg">
</p>

<p >
<h3 class="text-center">
DISEÑO WEB Y MOVIL
  </h3>
</p>  


<p class="text-justify">
Posiciona tu negocio en Internet ¡Déjame ayudarte!.
  Desarrollare para ti paginas web con la última tecnología front-end y con diseño responsive que se adaptan a todas las plataformas y tamaños de pantalla, paginas web del tipo SPA (single web page aplication) renderizadas del lado del servidor utilizando html, css, javascript y frameworks como vuejs, y bootstrap
</p>
</div>




<div class="col-sm-4">

<p class="text-center mt-5 pb-5">
<img  class="img-thumbnail rounded-circle" width="130" src="https://image.flaticon.com/icons/svg/1197/1197511.svg">
</p>


<p >
<h3 class="text-center">
APLICACIONES WEB
</h3>
</p>  

<p class="text-justify">Obten para tu negocio una herramientra a la medida, para impulsar los procesos de tu negocio. Desarrollare para ti una aplicacion web con la ultima tecnologia front-end y back-end, con arquitectura MVC, donde puedas registrar datos, editarlos y eliminarlos de una base de datos, con una aplicacion que podras usar en un computador, tablet o telefono celular.

</p>
</div>
<div class="col-sm-4">


<p class="text-center mt-5 pb-5">
<img  class="img-thumbnail rounded-circle" width="130" src="https://image.flaticon.com/icons/svg/164/164427.svg">
</p>



<p class="text-center">
  <h3 class="text-center">
E-COMMERCE
  </h3>
</p>  
<p class="text-justify">Los compradores en línea continúan esperando más de sus sitios web preferidos de compras en línea en la funcionalidad, la comodidad y la seguridad. Con robustos servicios de desarrollo de E-Commerce de Sculpt Media, usted puede asegurarse de que sus clientes pueden realizar sus compras en su sitio web con confianza y con facilidad.</p>

</div>




</div>



</div>



  </div>


</div>
</div>

</section>












<section  id="sobre-mi">

<div class="container mt-5 pt-3">
<div class="row">
<div class="col-sm-6">
<h1 class="text-center text-primary">Sobre mi</h1>


<div class="text-center mb-5 mt-5">
<img alt="JOSE CASTILLO PROGRAMADOR" class="rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQEdGpTIAgoNiQ/profile-displayphoto-shrink_200_200/0?e=1568246400&v=beta&t=UWA7fUfyBVEPpETPqmeLfHz7PH2kdzExy9Pr-o-R19Q">
</div>

<p>
<h1 class="text-center">José Gregorio Castillo</h1>
</p>


<p class="text-justify">
  <strong>
Fecha de nacimiento:</strong> 13 de febrero de 1992
</p>

<p class="text-justify">
  <strong>
Residencia:</strong> Ciudad de Cordoba capital, provincia de Cordoba, República Argentina
</p>


<p class="text-justify">
  <strong>
Estudios:</strong> Ingenieria de sistemas, Universidad nacional experimental de las fuerzas armadas U.N.E.FA, Venezuela 2010 - 2017
</p>



<p class="text-justify">
<strong>
Soy un desarrollador apasionado</strong> por crear herramientas digitales, que faciliten la vida de las personas en su día a día, graduado de ingeniería de sistemas, con más de 4 años en el mundo del desarrollo y diseño web, me dedico intensamente a desarrollar herramientas de software que hagan más eficientes los procesos de medianas y pequeñas empresas. 
</p>


<p class="text-justify">
Donde mediante un análisis directo de los procesos, defino las necesidades y requerimientos de la empresa en conjunto con las personas directamente involucradas en la dirección y ejecución de cada tarea, pudiendo asi planificar, diseñar y dar pie al desarrollo de una herramienta a la medida que cubra las necesidades y objetivos marcados.
</p>
<p class="text-justify">
<strong> ¿Qué puedo hacer por ti?</strong> Puedo materializar tus ideas de una forma integral, desde el análisis, definición de los requerimientos, planificación, prototipado, desarrollo y  puesta en marcha del nuevo sistema, mi especialidad las aplicaciones web, este tipo de sistemas se ejecutan a través de los navegadores web, como Google chrome, Mozilla Firefox y otros.  De esta manera podras ingresar desde  cualquier computador, tablet o celular inteligente mediante tu usuario y contraseña, y así consultar datos como usar todas sus funciones . 
</p>

<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>

<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>



<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta manera puedo planificar y codificar el nuevo sistema, para luego iniciar un proceso de pruebas, verificar el correcto funcionamiento, y corrección de errores. Y a si finalmente, iniciar la etapa de implantación donde instalaremos el nuevo sistema en un servidor para su puesta en producción.
</p>






<p class="text-justify">
 <strong>¿Cómo lo hago? </strong> Mi trabajo consiste en analizar  las necesidades de mis clientes, basado en datos, registros, documentos, bases de datos y entrevistas con las personas involucradas en los procedimientos que pasaran a digitalizarse, de esta forma entendiendo el flujo de procesos puedo generar propuestas definiendo asi los requerimientos, que posteriormente seran validados por mi cliente, de esta 
</p>










  </div>
  <div class="col-sm-6">
<h1 class="text-center">Stack</h1>


<p>
<h5> <strong> FRONT-END</strong></h5>
</p>




<ul class="list-group list-group-flush">
<li class="list-group-item">HTML   <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">98%</div>
</div></li>
<li class="list-group-item">CSS
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
</div>
</li>
<li class="list-group-item">JAVASCRIPT
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
</li>
<li class="list-group-item">BOOTSTRAP
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
</li>
<li class="list-group-item">JQUERY
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">VUEJS
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
</li>
<li class="list-group-item">VUEX
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width:50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>
</li>
<li class="list-group-item">VUE-ROUTER

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
</li>
<li class="list-group-item">VUE-CLI
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
</div>

</li>
<li class="list-group-item">NUXT

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>
</li>
<li class="list-group-item">WEBPACK
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
</div>

</li>
<li class="list-group-item">NPM

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>

</li>
</ul>



<p>
<h5> <strong> BACK-END</strong></h5>
</p>
<ul class="list-group list-group-flush">
<li class="list-group-item">PHP
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">ARQUITECTURA MVC
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">Node.js
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">MSQL
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">LARAVEL
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">LUMEN
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">DISEÑO DE BASE DE DATOS
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">NORMALIZACION DE BASE DE DATOS
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">COMPOSER
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>

</ul>



<p>
<h5> <strong>MICRO SERVICIOS</strong></h5>
</p>
<ul class="list-group list-group-flush">
<li class="list-group-item">API REST
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>
<li class="list-group-item">ARQUITECTURA REST FULL

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>

</ul>


<p>
<h5> <strong>CMS</strong></h5>
</p>
<ul class="list-group list-group-flush">
<li class="list-group-item">WOORPRESS
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>

</li>
<li class="list-group-item">WOOCOMMERCE
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>

</li>
<li class="list-group-item">PRESTASHOP

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>
</li>


</ul>

  </div>

</div>
</div>

</section>





<section id="contacto">

<div  class="container  mt-5 pt-3 pb-5">
<div class="row">


<div class="col-sm-6">


<h1 class="text-center">Redes sociales</h1>




<ul class="list-group list-group-flush">
  <li class="list-group-item">
<p class="tex-left mt-3">

<h5> <strong>

<img width="50" src="https://image.flaticon.com/icons/svg/145/145802.svg">

<a  class=" " target="_blank" href="https://www.facebook.com/jcastillovz/">
Facebook
</a>

</strong></h5>

</p>

</li>


  <li class="list-group-item">
<p class="tex-left mt-3">

<h5> <strong>

<img width="50" src="https://image.flaticon.com/icons/svg/889/889101.svg">

<a  class=" " target="_blank" href="https://m.me/jcastillovz">
Messenger
</a>

</strong></h5>

</p>

</li>

  <li class="list-group-item">

<p class="tex-left mt-3">
<h5> <strong>
<img width="50" src="https://image.flaticon.com/icons/svg/683/683283.svg">

<a href="mailto:jcastillovnz@gmail.com" >
Email
</a>

</strong></h5>
</p>
</li>




  <li class="list-group-item">

<p class="tex-left mt-3">
<h5> <strong>
<img width="50" src="https://image.flaticon.com/icons/svg/25/25231.svg">

<a target="_blank" href="https://stackoverflow.com/users/8979972/jcastillovnz">
Github
</a>

</strong></h5>
</p>

</li>




  <li class="list-group-item">

<p class="tex-left mt-3">

<a   href="skype:jcastillovnz?chat?call"  >
<h5> <strong>
<img width="50" src="https://image.flaticon.com/icons/svg/174/174869.svg">


Skype

</strong></h5>

</a>

</p>



</li>

  <li class="list-group-item">

<div class="form">
<p class="text-center mt-3">
<h5> <strong>
<img width="50" src="https://image.flaticon.com/icons/svg/145/145807.svg">


<a  target="_blank" href="https://www.linkedin.com/in/jcastillovnz/">
Linkedin
</a>



</strong></h5>
</p>
</div>


</li>



</ul>























  </div>









<div class="col-sm-6">
<h1 class="text-center text-primary">Contacto</h1>




<div class="container">
  

 <form @submit.prevent="enviar()" >
    <div class="form-group">
      <label >Nombre</label>
      <input  required="" type="text" class="form-control input form-control-sm"   v-model="nombre">
    </div>

    <div class="form-group">
      <label >Apellido</label>
      <input  required="" type="text" class="form-control input form-control-sm"   v-model="Apellido">
    </div>


    <div  class="form-group">
      <label >Correo electronico</label>
      <input required="" type="email" class="form-control input form-control-sm"  v-model="email">
    </div>

    <div class="form-group">
      <label >Numero celular</label>
      <input required="" type="phone" class="form-control input form-control-sm"   v-model="numero_celular">
    </div>


    <div class="form-group">
      <label >Ciudad</label>
      <input required="" type="text" class="form-control input form-control-sm"   v-model="ciudad">
    </div>


    <div class="form-group">
      <label >Pais</label>
<select class="form-control form-control-sm" name="pais">
<option value="Elegir" id="AF">Elegir Pais</option>
<option value="Afganistán" id="AF">Afganistán</option>
<option value="Albania" id="AL">Albania</option>
<option value="Alemania" id="DE">Alemania</option>
<option value="Andorra" id="AD">Andorra</option>
<option value="Angola" id="AO">Angola</option>
<option value="Anguila" id="AI">Anguila</option>
<option value="Antártida" id="AQ">Antártida</option>
<option value="Antigua y Barbuda" id="AG">Antigua y Barbuda</option>
<option value="Antillas holandesas" id="AN">Antillas holandesas</option>
<option value="Arabia Saudí" id="SA">Arabia Saudí</option>
<option value="Argelia" id="DZ">Argelia</option>
<option value="Argentina" id="AR">Argentina</option>
<option value="Armenia" id="AM">Armenia</option>
<option value="Aruba" id="AW">Aruba</option>
<option value="Australia" id="AU">Australia</option>
<option value="Austria" id="AT">Austria</option>
<option value="Azerbaiyán" id="AZ">Azerbaiyán</option>
<option value="Bahamas" id="BS">Bahamas</option>
<option value="Bahrein" id="BH">Bahrein</option>
<option value="Bangladesh" id="BD">Bangladesh</option>
<option value="Barbados" id="BB">Barbados</option>
<option value="Bélgica" id="BE">Bélgica</option>
<option value="Belice" id="BZ">Belice</option>
<option value="Benín" id="BJ">Benín</option>
<option value="Bermudas" id="BM">Bermudas</option>
<option value="Bhután" id="BT">Bhután</option>
<option value="Bielorrusia" id="BY">Bielorrusia</option>
<option value="Birmania" id="MM">Birmania</option>
<option value="Bolivia" id="BO">Bolivia</option>
<option value="Bosnia y Herzegovina" id="BA">Bosnia y Herzegovina</option>
<option value="Botsuana" id="BW">Botsuana</option>
<option value="Brasil" id="BR">Brasil</option>
<option value="Brunei" id="BN">Brunei</option>
<option value="Bulgaria" id="BG">Bulgaria</option>
<option value="Burkina Faso" id="BF">Burkina Faso</option>
<option value="Burundi" id="BI">Burundi</option>
<option value="Cabo Verde" id="CV">Cabo Verde</option>
<option value="Camboya" id="KH">Camboya</option>
<option value="Camerún" id="CM">Camerún</option>
<option value="Canadá" id="CA">Canadá</option>
<option value="Chad" id="TD">Chad</option>
<option value="Chile" id="CL">Chile</option>
<option value="China" id="CN">China</option>
<option value="Chipre" id="CY">Chipre</option>
<option value="Ciudad estado del Vaticano" id="VA">Ciudad estado del Vaticano</option>
<option value="Colombia" id="CO">Colombia</option>
<option value="Comores" id="KM">Comores</option>
<option value="Congo" id="CG">Congo</option>
<option value="Corea" id="KR">Corea</option>
<option value="Corea del Norte" id="KP">Corea del Norte</option>
<option value="Costa del Marfíl" id="CI">Costa del Marfíl</option>
<option value="Costa Rica" id="CR">Costa Rica</option>
<option value="Croacia" id="HR">Croacia</option>
<option value="Cuba" id="CU">Cuba</option>
<option value="Dinamarca" id="DK">Dinamarca</option>
<option value="Djibouri" id="DJ">Djibouri</option>
<option value="Dominica" id="DM">Dominica</option>
<option value="Ecuador" id="EC">Ecuador</option>
<option value="Egipto" id="EG">Egipto</option>
<option value="El Salvador" id="SV">El Salvador</option>
<option value="Emiratos Arabes Unidos" id="AE">Emiratos Arabes Unidos</option>
<option value="Eritrea" id="ER">Eritrea</option>
<option value="Eslovaquia" id="SK">Eslovaquia</option>
<option value="Eslovenia" id="SI">Eslovenia</option>
<option value="España" id="ES">España</option>
<option value="Estados Unidos" id="US">Estados Unidos</option>
<option value="Estonia" id="EE">Estonia</option>
<option value="c" id="ET">Etiopía</option>
<option value="Ex-República Yugoslava de Macedonia" id="MK">Ex-República Yugoslava de Macedonia</option>
<option value="Filipinas" id="PH">Filipinas</option>
<option value="Finlandia" id="FI">Finlandia</option>
<option value="Francia" id="FR">Francia</option>
<option value="Gabón" id="GA">Gabón</option>
<option value="Gambia" id="GM">Gambia</option>
<option value="Georgia" id="GE">Georgia</option>
<option value="Georgia del Sur y las islas Sandwich del Sur" id="GS">Georgia del Sur y las islas Sandwich del Sur</option>
<option value="Ghana" id="GH">Ghana</option>
<option value="Gibraltar" id="GI">Gibraltar</option>
<option value="Granada" id="GD">Granada</option>
<option value="Grecia" id="GR">Grecia</option>
<option value="Groenlandia" id="GL">Groenlandia</option>
<option value="Guadalupe" id="GP">Guadalupe</option>
<option value="Guam" id="GU">Guam</option>
<option value="Guatemala" id="GT">Guatemala</option>
<option value="Guayana" id="GY">Guayana</option>
<option value="Guayana francesa" id="GF">Guayana francesa</option>
<option value="Guinea" id="GN">Guinea</option>
<option value="Guinea Ecuatorial" id="GQ">Guinea Ecuatorial</option>
<option value="Guinea-Bissau" id="GW">Guinea-Bissau</option>
<option value="Haití" id="HT">Haití</option>
<option value="Holanda" id="NL">Holanda</option>
<option value="Honduras" id="HN">Honduras</option>
<option value="Hong Kong R. A. E" id="HK">Hong Kong R. A. E</option>
<option value="Hungría" id="HU">Hungría</option>
<option value="India" id="IN">India</option>
<option value="Indonesia" id="ID">Indonesia</option>
<option value="Irak" id="IQ">Irak</option>
<option value="Irán" id="IR">Irán</option>
<option value="Irlanda" id="IE">Irlanda</option>
<option value="Isla Bouvet" id="BV">Isla Bouvet</option>
<option value="Isla Christmas" id="CX">Isla Christmas</option>
<option value="Isla Heard e Islas McDonald" id="HM">Isla Heard e Islas McDonald</option>
<option value="Islandia" id="IS">Islandia</option>
<option value="Islas Caimán" id="KY">Islas Caimán</option>
<option value="Islas Cook" id="CK">Islas Cook</option>
<option value="Islas de Cocos o Keeling" id="CC">Islas de Cocos o Keeling</option>
<option value="Islas Faroe" id="FO">Islas Faroe</option>
<option value="Islas Fiyi" id="FJ">Islas Fiyi</option>
<option value="Islas Malvinas Islas Falkland" id="FK">Islas Malvinas Islas Falkland</option>
<option value="Islas Marianas del norte" id="MP">Islas Marianas del norte</option>
<option value="Islas Marshall" id="MH">Islas Marshall</option>
<option value="Islas menores de Estados Unidos" id="UM">Islas menores de Estados Unidos</option>
<option value="Islas Palau" id="PW">Islas Palau</option>
<option value="Islas Salomón" d="SB">Islas Salomón</option>
<option value="Islas Tokelau" id="TK">Islas Tokelau</option>
<option value="Islas Turks y Caicos" id="TC">Islas Turks y Caicos</option>
<option value="Islas Vírgenes EE.UU." id="VI">Islas Vírgenes EE.UU.</option>
<option value="Islas Vírgenes Reino Unido" id="VG">Islas Vírgenes Reino Unido</option>
<option value="Israel" id="IL">Israel</option>
<option value="Italia" id="IT">Italia</option>
<option value="Jamaica" id="JM">Jamaica</option>
<option value="Japón" id="JP">Japón</option>
<option value="Jordania" id="JO">Jordania</option>
<option value="Kazajistán" id="KZ">Kazajistán</option>
<option value="Kenia" id="KE">Kenia</option>
<option value="Kirguizistán" id="KG">Kirguizistán</option>
<option value="Kiribati" id="KI">Kiribati</option>
<option value="Kuwait" id="KW">Kuwait</option>
<option value="Laos" id="LA">Laos</option>
<option value="Lesoto" id="LS">Lesoto</option>
<option value="Letonia" id="LV">Letonia</option>
<option value="Líbano" id="LB">Líbano</option>
<option value="Liberia" id="LR">Liberia</option>
<option value="Libia" id="LY">Libia</option>
<option value="Liechtenstein" id="LI">Liechtenstein</option>
<option value="Lituania" id="LT">Lituania</option>
<option value="Luxemburgo" id="LU">Luxemburgo</option>
<option value="Macao R. A. E" id="MO">Macao R. A. E</option>
<option value="Madagascar" id="MG">Madagascar</option>
<option value="Malasia" id="MY">Malasia</option>
<option value="Malawi" id="MW">Malawi</option>
<option value="Maldivas" id="MV">Maldivas</option>
<option value="Malí" id="ML">Malí</option>
<option value="Malta" id="MT">Malta</option>
<option value="Marruecos" id="MA">Marruecos</option>
<option value="Martinica" id="MQ">Martinica</option>
<option value="Mauricio" id="MU">Mauricio</option>
<option value="Mauritania" id="MR">Mauritania</option>
<option value="Mayotte" id="YT">Mayotte</option>
<option value="México" id="MX">México</option>
<option value="Micronesia" id="FM">Micronesia</option>
<option value="Moldavia" id="MD">Moldavia</option>
<option value="Mónaco" id="MC">Mónaco</option>
<option value="Mongolia" id="MN">Mongolia</option>
<option value="Montserrat" id="MS">Montserrat</option>
<option value="Mozambique" id="MZ">Mozambique</option>
<option value="Namibia" id="NA">Namibia</option>
<option value="Nauru" id="NR">Nauru</option>
<option value="Nepal" id="NP">Nepal</option>
<option value="Nicaragua" id="NI">Nicaragua</option>
<option value="Níger" id="NE">Níger</option>
<option value="Nigeria" id="NG">Nigeria</option>
<option value="Niue" id="NU">Niue</option>
<option value="Norfolk" id="NF">Norfolk</option>
<option value="Noruega" id="NO">Noruega</option>
<option value="Nueva Caledonia" id="NC">Nueva Caledonia</option>
<option value="Nueva Zelanda" id="NZ">Nueva Zelanda</option>
<option value="Omán" id="OM">Omán</option>
<option value="Panamá" id="PA">Panamá</option>
<option value="Papua Nueva Guinea" id="PG">Papua Nueva Guinea</option>
<option value="Paquistán" id="PK">Paquistán</option>
<option value="Paraguay" id="PY">Paraguay</option>
<option value="Perú" id="PE">Perú</option>
<option value="Pitcairn" id="PN">Pitcairn</option>
<option value="Polinesia francesa" id="PF">Polinesia francesa</option>
<option value="Polonia" id="PL">Polonia</option>
<option value="Portugal" id="PT">Portugal</option>
<option value="Puerto Rico" id="PR">Puerto Rico</option>
<option value="Qatar" id="QA">Qatar</option>
<option value="Reino Unido" id="UK">Reino Unido</option>
<option value="República Centroafricana" id="CF">República Centroafricana</option>
<option value="República Checa" id="CZ">República Checa</option>
<option value="República de Sudáfrica" id="ZA">República de Sudáfrica</option>
<option value="República Democrática del Congo Zaire" id="CD">República Democrática del Congo Zaire</option>
<option value="República Dominicana" id="DO">República Dominicana</option>
<option value="Reunión" id="RE">Reunión</option>
<option value="Ruanda" id="RW">Ruanda</option>
<option value="Rumania" id="RO">Rumania</option>
<option value="Rusia" id="RU">Rusia</option>
<option value="Samoa" id="WS">Samoa</option>
<option value="Samoa occidental" id="AS">Samoa occidental</option>
<option value="San Kitts y Nevis" id="KN">San Kitts y Nevis</option>
<option value="San Marino" id="SM">San Marino</option>
<option value="San Pierre y Miquelon" id="PM">San Pierre y Miquelon</option>
<option value="San Vicente e Islas Granadinas" id="VC">San Vicente e Islas Granadinas</option>
<option value="Santa Helena" id="SH">Santa Helena</option>
<option value="Santa Lucía" id="LC">Santa Lucía</option>
<option value="Santo Tomé y Príncipe" id="ST">Santo Tomé y Príncipe</option>
<option value="Senegal" id="SN">Senegal</option>
<option value="Serbia y Montenegro" id="YU">Serbia y Montenegro</option>
<option value="Sychelles" id="SC">Seychelles</option>
<option value="Sierra Leona" id="SL">Sierra Leona</option>
<option value="Singapur" id="SG">Singapur</option>
<option value="Siria" id="SY">Siria</option>
<option value="Somalia" id="SO">Somalia</option>
<option value="Sri Lanka" id="LK">Sri Lanka</option>
<option value="Suazilandia" id="SZ">Suazilandia</option>
<option value="Sudán" id="SD">Sudán</option>
<option value="Suecia" id="SE">Suecia</option>
<option value="Suiza" id="CH">Suiza</option>
<option value="Surinam" id="SR">Surinam</option>
<option value="Svalbard" id="SJ">Svalbard</option>
<option value="Tailandia" id="TH">Tailandia</option>
<option value="Taiwán" id="TW">Taiwán</option>
<option value="Tanzania" id="TZ">Tanzania</option>
<option value="Tayikistán" id="TJ">Tayikistán</option>
<option value="Territorios británicos del océano Indico" id="IO">Territorios británicos del océano Indico</option>
<option value="Territorios franceses del sur" id="TF">Territorios franceses del sur</option>
<option value="Timor Oriental" id="TP">Timor Oriental</option>
<option value="Togo" id="TG">Togo</option>
<option value="Tonga" id="TO">Tonga</option>
<option value="Trinidad y Tobago" id="TT">Trinidad y Tobago</option>
<option value="Túnez" id="TN">Túnez</option>
<option value="Turkmenistán" id="TM">Turkmenistán</option>
<option value="Turquía" id="TR">Turquía</option>
<option value="Tuvalu" id="TV">Tuvalu</option>
<option value="Ucrania" id="UA">Ucrania</option>
<option value="Uganda" id="UG">Uganda</option>
<option value="Uruguay" id="UY">Uruguay</option>
<option value="Uzbekistán" id="UZ">Uzbekistán</option>
<option value="Vanuatu" id="VU">Vanuatu</option>
<option value="Venezuela" id="VE">Venezuela</option>
<option value="Vietnam" id="VN">Vietnam</option>
<option value="Wallis y Futuna" id="WF">Wallis y Futuna</option>
<option value="Yemen" id="YE">Yemen</option>
<option value="Zambia" id="ZM">Zambia</option>
<option value="Zimbabue" id="ZW">Zimbabue</option>
</select>
    </div>

   <div class="form-group">
      <label >Mensaje</label>
      <textarea rows="5" class="form-control form-control-sm"></textarea>
    </div>




<div id="contenedor" class=" col-xs-2">
    <button type="submit" class="btn btn-dark  btn-sm btn-redondeado float-right">

<div v-show="loader==1" class="spinner-border spinner-border-sm" role="status">
<span  class="sr-only">Loading...</span>
</div>   
Enviar mensaje</button>
</div>




  </form>
    </div>









  </div>
  

</div>
</div>

</section>


















</body>


<footer   class="bg-dark">
  <div class="container ">
  <div class="col-sm-12 pt-5  mt-5 pt-4 pb-2 ">
<p class="text-center text-white">
© Copyright 2019 - Jose Castillo- Desarrollador Web Freelance - Cordoba capital, provincia de Cordoba, Argentina.
Desarrollador / Programador de Sitios Web - Aplicaciones Web a medida
</p>

</div></div>
</footer>




</html>
